
.spinner {
  text-align: center;
  margin-top: 100px;
}

.spinner-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner-logo {
    animation: spinner-logo-spin infinite 0.5s linear;
  }
}

/* .spinner-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@keyframes spinner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
