body {
  background-color: lightgoldenrodyellow;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px !important;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 150px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.imgContainer {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  height: 50px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.withFilter {
  filter: brightness(0.1);
}

.withoutFilter {
  filter: brightness(1);
}

form {
  width: 350px;
  height: 50px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
}

form button {
  width: 20%;
}

@media (max-width: 350px) {
  form {
    width: 200px;
  }
}

.titleDisplayNone {
  display: none;
}

.idDisplayNone {
  display: none;
}

section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contenedorDeRespuestas {
  margin-top: 20px;
}

.buttonsContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 690px) {
  .nes-squirtle {
    display: none;
  }
  .nes-bulbasaur {
    display: none;
  }
  .buttonsContainer {
    flex-direction: column;
  }
  .nes-btn.is-error {
    margin-top: 20px;
  }
}

.spanDisplayNone {
  display: none;
}

.song {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.buttonPlay {
  width: 80px;
}

/* .swhowPlay {

} */

.notShowPlay {
  display: none;
}

.notShowPause {
  display: none;
}

.swhoPause {
  display: block;
}

.showPlay {
  display: block;
}

@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }

  form {
    width: auto;
  }

  h2 {
    font-size: 20px;
  }
}

.nonNextPokemon {
  display: none;
}

.nextPokemon {
  display: block;
}

.getPokemonFromApi {
  display: flex;
  max-width: 1500px;
}

.getPokemonFromApi img {
  margin-right: 0px;
}

@media (max-width: 500px) {
  .getPokemonFromApi img {
    margin-right: auto;
  }
}

.css-o69gx8-MuiCardMedia-root {
  width: 80% !important;
}

.cardGrid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

li {
  list-style: none;
  width: 100px;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

ul div {
  margin-left: -20px;
}
