

.list {
    color: grey;
    width: 100%;
    margin: none;
    text-align:center;
}


.divGrid {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}


.divGridDiv {
    margin: 5px;
    margin-top: 10px
}


.css-o69gx8-MuiCardMedia-root {
    width: 60% !important;
}