@import url("./assets/fonts/fonts.css");

/* * {
  font-family: "Pokemon-Solid";
}
 */

:root {
  --bug: #a4ac4e;
  --dark: #74645d;
  --dragon: #8073c4;
  --electric: #f2c443;
  --fairy: #fab2fc;
  --fighting: #944b41;
  --fire: #e84d25;
  --flying: #b2b7ff;
  --ghost: #5f5a91;
  --grass: #89d861;
  --ground: #cbb37d;
  --ice: #58bdd1;
  --normal: #a3a2a1;
  --poison: #9e6890;
  --psychic: #e884a6;
  --rock: #c69e69;
  --steel: #bbb8cc;
  --water: #56a1f2;
}

.css-10hburv-MuiTypography-root {
  color: blue;
}

